* {
    background-color: black;
    background-image: url("https://github.com/gbull19/hosting/blob/main/stars.png?raw=true");
    background-repeat: no-repeat;
    background-size: auto;
}

header {
background-image: url("https://github.com/gbull19/hosting/blob/main/Star%20Wars%20Logo.jpg?raw=true");
background-repeat: no-repeat;
background-position: center;
border: 2px, solid, whitesmoke;
height: 400px;
width: 100%;
}

.resBtn {
    background-color: yellow;
    border: 1px solid lightgray;
    padding: 5px 5px;
}

.resBtn:hover {
    background-color: lightgrey;
    border: 1px solid yellow;
}


.planetBtn {
    background-color: yellow;
    border: 1px solid lightgray;
    padding: 5px 5px;
}

.planetBtn:hover {
    background-color: lightgrey;
    border: 1px solid yellow;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resDisplay {
    background-color: black;
    color: yellow;
    height: auto;
    /* padding: 15px 10px; */
    border: 1px solid whitesmoke;
}

.planetDisplay {
    background-color: black;
    color: yellow;
    height: auto;
    /* padding: 15px 10px; */
    border: 1px solid whitesmoke;
}